<!-- composant sidenav -->
<mat-sidenav-container class="sidenav-container">

  <!-- en résolution mobile, le composant sidenav a un role dialog, est fermée et passe par dessus le contenu -->
  <!-- en résolution bureau, le composant sidenav a un role navigation, est ouverte et se situe a côté du contenu -->
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <!-- composant toolbar -->
    <mat-toolbar>GSB</mat-toolbar>

    <!-- composant nav list -->
    <mat-nav-list>
      <a mat-list-item *ngFor="let item of menuItems" [routerLink]="[item.path]" (click)="hideMenuIfHandset(drawer)">{{item.name}}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>

    <!-- composant toolbar -->
    <mat-toolbar color="primary" *ngIf="isHandset$ | async">

      <!-- composant icon button -->
      <!-- Ne s'affiche qu'en résolution mobile -->
      <!-- Au click permet d'ouvrir le menu -->
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <span>GSB</span>

    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
